
/*body {
  background-color: lightblue;
} */

body {
  background-color: rgb(171, 217, 203);
  font-size: 14ptvw;
  padding: 5px;
  font-family: monospace;
  color:rgb(53, 53, 53)
}

h1, h2, h3, h4, footer {
  text-align: center;
  font-family: Georgia;
}
nav {
  text-align: center;
}

@media screen{
  body {
    max-width: min(550px, 40%);
    margin-left: auto;
    margin-right: auto;
  }}

   hr {height:2px;
        border-width:0;
        color:rgb(53, 53, 53);
        background-color:rgb(53, 53, 53); 
   }