
/*body {
  background-color: lightblue;
} */

body {
  background-color: lightgray;
  font-size: 14ptvw;
  padding: 5px;
}

h1, h2, h3, h4, footer {
  text-align: center;
}

@media screen and (min-width: 769px) {
  body {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }}