
/*body {
  background-color: lightblue;
} */

body {
  background-color: rgb(171, 217, 203);
  font-size: 14ptvw;
  padding: 5px;
  font-family: monospace;
  color:rgb(53, 53, 53);
  /*width: 40%;*/
  margin: auto;




}
.dark-mode {
  background-color: rgb(26, 25, 31);
  color: rgb(186, 232, 218);
  
  
}
.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}

.postheader h3 {
  display: inline;
}
.postheader span {
  float: right;
}

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} /*use for centring images*/

h1, h2, h4, footer {
  text-align: center;
  font-family: Georgia;
}
h3 {
  font-family: Georgia;
}
nav {
  text-align: center;
}
a:link {
  color: #c82828
}

a:visited {
  color: #AB2222
}

.dark-mode a:link {
  color: #e15e5e;
}

.dark-mode a:visited {
  color: #ff8181;
}


 @media screen {
  
  body, footer {
    max-width: max(550px, 40%);
    margin-left: auto;
    margin-right: auto;
  }}

hr {height:0px;
      color:rgb(53, 53, 53);
      background-color:rgb(53,53,53); 

   }

.dark-mode hr {
    height:0px;
    color:rgb(171, 217, 203);
    background-color:rgb(171, 217, 203); 
      }



button {
  border-radius:8px;
  font-family: monospace;
  background-color:rgb(171, 217, 203) ;
  padding: 8px;
  border-color: rgb(53, 53, 53);
  color: rgb(53, 53, 53);
  font-weight: bold;
  box-shadow: 0;
  border-style: solid;
}

.dark-mode button {
  border-radius:8px;
  font-family: monospace;
  background-color:rgb(26, 25, 31);
  padding: 8px;
  border-color: rgb(171, 217, 203);
  color: rgb(171, 217, 203);
  font-weight: bold;
  box-shadow: 0;
  border-style: solid;
}

footer{
  font-family: monospace;
  font-size: 9pt;
  position: fixed;
  bottom: 0;
  width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 1%;
}

ul li { margin-bottom: 10px; }

